@charset "UTF-8";
/* CSS Document */

body {
	/*background-color: #FFF;*/
	font: 100%/1.4 Arial, Helvetica, sans-serif;
		color: #000;
}

h1 {
	color:#631010;
	font-size:20px;
	padding-top: 24px;
}

p {
	padding:0 12px;
}

a {
	color:#3195A0;
}

#pagina {
	
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	display: block;
}

.mostrar {
	font-size: 12px;
	cursor:pointer;
	padding: 4px 0 6px 24px;
	margin-bottom: 4px;
	background-color:#FEE8E8;
	border-radius: 8px 0px 0px 8px;
    -moz-border-radius: 8px 0px 0px 8px;
    -webkit-border-radius: 8px 0px 0px 8px;
}

.activo {
	background-color:#700707;
	color:#FFF;
}

.bold {
	font-weight:bold;
}

.oculto {
}

.oculto ul {
	list-style-type: none;
}

.oculto ul li {
	padding-bottom: 6px;
	padding-left: 20px;
}

.oculto ul li:hover {
	/*background-color:#fff;*/
}

.color {
	color:#700707;
}